<!-- Container for displaying user information -->
<div class="container">
  <!-- Iterate through each user in the @users collection -->
  <% @users.each do |user| %>
    <!-- User information section for each user -->
    <div class="user_info">
      <!-- User image section -->
      <div class="img">
        <% if user.photo.present? && Rails.application.assets.find_asset(user.photo) %>
          <%= image_tag user.photo, alt: "User Photo", class: "user-photo" %>
        <% else %>
          <%= image_tag "https://unsplash.com/photos/F_-0BxGuVvo", alt: "Default Photo", class: "user-photo" %>
        <% end %>
      </div>

      <!-- User details section -->
      <div class="user">
        <!-- Display user name with a link to user profile -->
        <h2><%= link_to user.name, user_path(user) %></h2>
        <!-- Display the number of posts by the user -->
        <p><strong>Number of Posts:</strong> <%= user.posts.count %></p>
      </div>
    </div>
  <% end %>
</div>
