/* Resetting some default styles for all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Basic styling for the body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

/* Container styling */
.container {
  width: 100%;
  text-align: center;
}

/* User information section styling */
.user_info {
  display: flex;
}

/* Styling for user details */
.user {
  display: flex;
  border: 2px solid #333;
  padding: 20px;
  width: 20rem;
  margin: 10px;
}

/* Styling for hyperlinks */
a {
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

/* Hover effect for hyperlinks */
a:hover {
  color: #2980b9;
}

/* Styling for paragraphs within user details */
.user p {
  margin-top: 20px;
  padding-left: 20px;
}

/* Styling for user image */
.img {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  padding: 10px;
  margin: 10px;
}

/* Styling for user biography section */
.user_bio {
  border: 2px solid #333;
  width: 27.5rem;
  margin-left: 10px;
  text-align: start;
  padding: 10px;
}

/* Styling for paragraphs within user biography */
.user_bio p {
  padding-top: 10px;
}

/* Styling for individual posts */
.post {
  border: 2px solid #333;
  margin: 10px;
  width: 27.5rem;
  padding: 10px;
  text-align: start;
}

/* Styling for the count section within a post */
.count {
  text-align: end;
}

/* Styling for pagination button */
.btn {
  margin-left: 13%;
  padding: 5px;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 12px;
  float: left;
}

/* Styling for the comments section */
.comments {
  border: 2px solid #333;
  margin: 10px;
  width: 27.5rem;
  padding: 10px;
  text-align: start;
}

.btn-comment,
.btn-like {
  float: left;
  margin-left: 1%;
}

.form {
  display: flex;
  margin-top: 1%;
}

.like {
  background-color: #007bff;
  margin: 10px 110px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-btn {
  float: left;
  margin-left: 1%;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px;
  color: black;
}
